@media (orientation: portrait){
	div{
		display: none;
	}
}


@media (orientation: landscape){
	div{
		display: block;
		color: white;
		background-color: darkred;
		font-size: 30px;
		padding: 10px;
		text-align: center;
	}
}



