body{
	padding: 0;
	margin: 0;
}
h2{
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #000;
	color: red;
	font-size: 35px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: inline-block;
  	border: 1px solid black;
  	padding: 10px;
  	border-radius: 10px;
  	background-color: rgba(0, 20, 30, 0.6);
}
form{
	font-size: 30px;
	margin: 0;
	padding: 5px;
	text-align: center;
	position: absolute;
	font-weight: bold;
	top: 65%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: lightseagreen;
	display: inline-block;
  	border: 1px solid black;
  	padding: 10px;
  	border-radius: 10px;
  	background-color: rgba(50, 20, 0, 0.6);
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #000;

}
.bg{
	background-image: url("imagens/r1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

input[type="text"], input[type="button"] {
  font-size: 20px;
}